# exclude this file when final password list is generated 
# generate_json_with_passwords.py
.idea
build
node_modules

src/backend/.idea
src/backend/venv
src/backend/.env
src/backend/data/
src/backend/__pycache__/
src/backend/config.py

.env
.env.development
.env.production