# exclude this file when final password list is generated 
# generate_json_with_passwords.py
build
node_modules

src/backend/.idea
src/backend/venv
src/backend/.env

src/old-backend/data/
src/old-backend/__pycache__/
src/old-backend/config.py

.env
.env.development
.env.production