.navigation {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: relative;
    background-color: #fff;
    color: black;
    text-align: center; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    text-transform: uppercase;
    font-weight: 600;
    width: 500px;

    /* overflow: hidden;
    background-color: #fff;
    color: black; */
}

ul.myUL {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

li {
    /* float: left; */
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: black; 
    text-decoration: #E1958E wavy underline;;
}

li a:active { 
    color: black; 
    text-decoration: #E1958E wavy underline;
}

.button{
    border: #E1958E solid 1px;
    border-radius: 7px;
    padding: 10px;
}

.button:hover {
    text-decoration: none;
    background-color: #e9bfbb;
}